<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>com.example.part2.ProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern></url-pattern>
        <url-pattern>/student_store</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowProductServlet</servlet-name>
        <servlet-class>com.example.part2.ShowProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowProductServlet</servlet-name>
        <url-pattern>/show_product</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>com.example.part2.ShoppingCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/shopping_cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.example.part2.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add_to_cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>com.example.part2.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/update_cart</url-pattern>
    </servlet-mapping>
</web-app>